In [4]:
import gspread 
import pandas as pd

gc = gspread.service_account(filename='.streamlit/google_sa.json')
gsheetId = 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
sh = gc.open_by_key(gsheetId)
database_w = sh.worksheet("database")
prenotazioni_w = sh.worksheet("prenotazioni")

database_json = database_w.get_all_records() #Nome_del_foglio
prenotazioni_json = prenotazioni_w.get_all_records() #Nome_del_foglio

database = pd.DataFrame(database_json)
prenotazioni = pd.DataFrame(prenotazioni_json)

# worksheet
# #worksheet.update([df.columns.values.tolist()] + df.values.tolist())
# print('Done!')
database

,PORTAFOGLIO,NDG,NUMERO_SCATOLA,ID_CREDITLINE,TIPOLOGIA_DOCUMENTO,INTESTAZIONE
0,GIRASOLE,124-5,48,1,tipo1,FRANCHINO FRANCESCO
1,GIRASOLE,333-5,49,23,tipo3,ANNIBALE
2,ACERO,445,54,66,tipo2,PIPPO FRANCO
3,ACERO,446,59,33445,tipo5,GIANNI MORANDI
4,Lotto Climb 3,07066_205419,1,-,-,FLURI ANTONIO
5,Lotto Climb 3,07066_210355,2,-,-,SCOLA CLELIA
6,Lotto Climb 3,07066_214828,3,-,-,MARICA S.R.L.
7,Lotto Climb 3,07066_219673,4,-,-,RUSSO GERARDO
8,Lotto Climb 3,07066_221302,5,-,-,D` AGOSTO MICHELE
9,Lotto Climb 3,07066_221933,6,-,-,FORTE ANTONIO
10,Lotto Climb 3,07066_222436,7,-,-,AGRESTI FABRIZIO
11,Lotto Climb 3,07066_229345,8,-,-,D` AMELIO UMBERTO
12,Lotto Climb 3,07066_230017,9,-,-,MONZO GIUSTINIANO

In [5]:
prenotazioni

,PORTAFOGLIO,NDG,MOTIVAZIONE_RICHIESTA,DATA_RICHIESTA,PRENOTATO,RESTITUITO,DATA_EVASIONE,DATA_RESTITUZIONE,NOME_RICHIEDENTE,COGNOME_RICHIEDENTE,GESTORE,NOTE,DISPONIBILE
0,ACERO,446,azionare-posizione-consegna STA,2024-12-22 11:25:43,TRUE,FALSE,,,NINO,FRASSICA,,,
1,GIRASOLE,124-5,scansione documenti specifici,2024-12-22 17:03:59,TRUE,FALSE,,,11111111111,22222222222,,DSDADSAD,

In [27]:

prenotazioni['PRENOTATO'] = prenotazioni['PRENOTATO'].astype(bool)
prenotazioni['RESTITUITO'] = prenotazioni['RESTITUITO'].astype(bool)
prenotazioni['DISPONIBILE'] = prenotazioni['DISPONIBILE'].astype(bool)
prenotazioni['DISPONIBILE'] = ~prenotazioni['PRENOTATO']
if not prenotazioni.empty:
    prenotazioni.loc[prenotazioni['RESTITUITO'] == True, 'PRENOTATO'] = False

prenotazioni.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   PORTAFOGLIO            2 non-null      object
 1   NDG                    2 non-null      object
 2   MOTIVAZIONE_RICHIESTA  2 non-null      object
 3   PRENOTATO              2 non-null      bool
 4   RESTITUITO             2 non-null      bool
 5   NOTE                   2 non-null      object
 6   DATA_RICHIESTA         2 non-null      object
 7   DATA_EVASIONE          2 non-null      object
 8   NOME_RICHIEDENTE       2 non-null      object
 9   COGNOME_RICHIEDENTE    2 non-null      object
 10  DISPONIBILE            2 non-null      bool
dtypes: bool(3), object(8)
memory usage: 266.0+ bytes

In [24]:
prenotazioni

,PORTAFOGLIO,NDG,MOTIVAZIONE_RICHIESTA,PRENOTATO,RESTITUITO,NOTE,DATA_RICHIESTA,DATA_EVASIONE,NOME_RICHIEDENTE,COGNOME_RICHIEDENTE,DISPONIBILE
0,GIRASOLE,124-5,azionare-posizione-consegna STA,False,True,-,,,,,False

In [16]:
df = prenotazioni.copy()

In [42]:
prenotazioni_w.update([df.columns.values.tolist()] + df.values.tolist())
print('Done!')

Done!